<app-header></app-header>

<div class="flex">
  <ngx-monaco-editor class="editor"
    [options]="editorOptions"
    [(ngModel)]="code"
    (onInit)="onInit($event)"></ngx-monaco-editor>
  <app-canva-viewer [model]="model"></app-canva-viewer>
  <!-- <quill-editor>
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <button class="ql-bold"
          [title]="'Bold'"></button>
      </span>
      <span class="ql-formats">
        <select class="ql-align"
          [title]="'Aligment'">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
        <select class="ql-align"
          [title]="'Aligment2'">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
      </span>
    </div>
  </quill-editor> -->
</div>
