:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex {
  flex: 1;
  display: flex;
  height: 100%;
}

app-canva-viewer {
  flex: 1;
  background: #eee;
  border: 1px solid #ddd;
}

.canvas-wrapper {
  flex: 1;
  border: 1px solid #ddd;
  position: relative;

  .canvas {
    .element-wrapper {
      position: absolute;

      .container {
        border: 1px solid red;
      }
    }
  }
}

.editor {
  height: 98%;
  width: 33%;
}

.element-wrapper {
  position: absolute;
}
