:host {
  .canvas-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .toolbar {
    padding: 10px;
    background: #ddd;
    border: 1px solid #ccc;
  }

  .container {
    overflow: auto;
    flex: 1;
  }
  app-canva-page-viewer {
    padding-left: 15px;
    transform-origin: 0 0;
    margin: 25px;
    width: 0px;
  }
}
