<div class="canvas-wrapper">

  <div class="toolbar">
    <button type="button"
      (click)="zoomOut()">Zoom Out</button>
    <button type="button"
      (click)="actualSize()">Actual Size</button>
    <button type="button"
      (click)="zoomIn()">Zoom In</button>
    <label>{{scale * 100}}%</label>
  </div>

  <div class="container">
    <app-canva-page-viewer *ngFor="let page of model?.pages"
      [model]="model"
      [style.transform]="'scale(' + scale + ')'"
      [page]="page"></app-canva-page-viewer>
  </div>
</div>
